/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


/* Condition to change widht on Mobile and Tablets */
@media only screen and (max-width: 850px) {
  .spoty-logo img {
    width: 100px;
  }

  .background-img h1 {
    color: white;
    font-size: 50px;


  }

  .background-img h3 {
    color: white;
    font-size: 20px;
  }

  .what-about h2{
    font-size: 25px;
  }

#what-structure hr{
  width: 150px;
}

#what-structure img{
  width: 25%;
}

#what-structure h4 {
  font-size: 20px;
}

#what-structure p{

  font-size: 15px;
}


}

@media only screen and (max-width: 510px) {
  .spoty-logo img {
    width: 100px;
  }

  .background-img h1 {
    color: white;
    font-size: 35px;


  }

  .background-img h3 {
    color: white;
    font-size: 15px;
  }

  .what-about h2{
    font-size: 19px;
  }

#what-structure hr{
  width: 100px;
}

#what-structure img{
  width: 20%;
}

#what-structure h4 {
  font-size: 15px;
}


#what-structure p{

  font-size: 10px;
}

}

/* Header and Nav Style */
#nav-bar {
  width: 100%;
}

nav {
  display: flex;
  padding: 1rem 1rem;
}


.logo-img {
  width: 175px;
}

.spoty-logo {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.spoty-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-possibility {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.nav-possibility li {
  width: 100%;
  font-size: 1em;
}

/* Background Section 1 */
#background-structure {
  height: 850px;
}

.background-img {
  background-image: url(../images/landing.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

.background-img {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: white;
  font-size: 100px;
  padding-top: 17rem;
}

.background-info {
  color: white;
  font-size: 35px;
  padding-top: 7rem;
  font-weight: 200;
}

#what-structure{
  width: 100%;
  height: 400px;

}

.what-about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 60px;
  font-size: 30px;
  
}

.what-about hr{
   width: 315px;
   height: 3px;
   margin-top: 15px;
   background-color: rgb(11, 181, 124);

}

.box-what{

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  text-align: center;
  flex-direction: row;
  column-gap: 10px;


}

.box-what h4{
  font-size: 27px;
  color: rgb(11, 181, 124) ;
  
}

.box-what p{
  font-size: 20px;
  font-weight: 300;
  
  
}

.box1 img{
  width: 33%;
  margin-bottom: 20px;
}
.box2 img{
  width: 33%;
  margin-bottom: 20px;
}
.box3 img{
  width: 33%;
  margin-bottom: 20px;
}
