/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


/* Condition to change widht on Mobile and Tablets */
@media only screen and (max-width: 850px) {
  .spoty-logo img {
    width: 100px;
  }

  .background-img h1 {
    color: white;
    font-size: 50px;


  }

  .background-img h3 {
    color: white;
    font-size: 20px;
  }

  .what-about h2 {
    font-size: 25px;
  }

  #what-structure .box-what {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }


  #what-structure hr {
    width: 150px;
  }

  #what-structure img {
    width: 15%;
  }

  #what-structure h4 {
    font-size: 20px;
  }

  #what-structure p {

    font-size: 15px;
  }

  #what-structure .box1 .box2 .box3 {
    margin-bottom: 10px;
  }

  #info-structure{
    text-align: center;
    line-height: 2rem;
  }

#info-structure .info-container {
    display: flex;
    flex-direction: column;
}

#info-structure .info-spoti {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}


  #info-structure hr{
    width: 300px;
    height: 3px;
    margin-top: 15px;
    background-color: white;
  }
  
  #info-structure h3 {
    padding-top: 30px;
    font-size: 25px;
  }

  #info-structure p{
    font-size: 10px;
    font-weight: 300;
  }
  
  #info-structure h4 {
    font-size: 15px;
  }
  #info-structure .icon{
    display: flex;
    position: static;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 30px;
}
 #info-structure .kanye-img {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content:center;
    padding: 80px 0px 20px 0;
  }


}

@media only screen and (max-width: 580px) {
  .spoty-logo img {
    width: 100px;
  }

  .background-img h1 {
    color: white;
    font-size: 35px;


  }

  .background-img h3 {
    color: white;
    font-size: 15px;
  }

  .what-about h2 {
    font-size: 19px;
  }

  #what-structure hr {
    width: 100px;
  }

  #what-structure img {
    width: 13%;
  }

  #what-structure h4 {
    font-size: 15px;
  }


  #what-structure p {

    font-size: 10px;
  }

  #info-structure{
    text-align: center;
    line-height: 2rem;
  }

  #info-structure hr{
    width: 180px;
    height: 3px;
    margin-top: 15px;
    background-color: white;
  }
  
  #info-structure h3 {
    font-size: 15px;
  }
  
  #info-structure h4 {
    font-size: 10px;
  }

  #info-structure .icon{
    display: flex;
    position: static;
    justify-content: center;
    align-items: flex-start;
    padding: 0%;
}
  #info-structure .kanye-img {
   display: flex;
  width: 100%;
  height: 40%;
  justify-content:center;
  padding: 80px 0px 20px 0;
}

  }
 

/* Header and Nav Style */
#nav-bar {
  width: 100%;
}

nav {
  display: flex;
  padding: 1rem 1rem;
}


.logo-img {
  width: 175px;
}

.spoty-logo {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.spoty-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-possibility {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.nav-possibility li {
  width: 100%;
  font-size: 1em;
}

/* Background Section 1 */
#background-structure {
  height: 850px;
}

.background-img {
  background-image: url(../images/landing.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

.background-img {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: white;
  font-size: 100px;
  padding-top: 17rem;
}

.background-info {
  color: white;
  font-size: 35px;
  padding-top: 7rem;
  font-weight: 200;
}


/* Section 2 | Structure and Boxes */

#what-structure {
  width: 100%;
  height: 610px;
}

.what-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 30px;

}

.what-about hr {
  width: 315px;
  height: 3px;
  margin-top: 15px;
  background-color: rgb(11, 181, 124);

}

.box-what {

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: row;


}

.box-what h4 {
  font-size: 27px;
  color: rgb(11, 181, 124);

}

.box-what p {
  font-size: 20px;
  font-weight: 300;


}

.box1 {
  margin-bottom: 15px;
}

.box2 {
  margin-bottom: 15px;
}

.box3 {
  margin-bottom: 15px;
}

.box1 img {
  width: 33%;
  margin-bottom: 20px;
}

.box2 img {
  width: 33%;
  margin-bottom: 20px;
}

.box3 img {
  width: 33%;
  margin-bottom: 20px;
}


/* Section 3 */

#info-structure {
  background-color: #00B172;
  height: 700px;
  display: flex;
  padding: 0 20px;
  margin: 0 20px;
}

.info-container{
  display: flex;
  width: 100%;
}
.info-spoti {
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 5%;
}

.info-spoti hr{
  width: 700px;
  height: 3px;
  margin-top: 15px;
  background-color: white;
}

.info-spoti p{
  font-size: 20px;
  font-weight: 300;
}

.info-spoti h3 {
  font-size: 50px;
}

.info-spoti h4 {
  font-size: 25px;
}

.icon {
  display: flex;
  position: static;
  justify-content: flex-start;
  align-items: center;

}

.icon-spotify {
  position: absolute;
  width: 10%;
 }

.kanye-img {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  height: 500px;
  padding: 100px 150px 100px 0;
}